# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.log
local_settings.py
db.sqlite3-journal

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Editor
.env
.env.local
.env.*.local
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
